/ImageNet
/.vscode
/__pycache__
/ignore
/ImageNetSmall_10Per
/ImageNetSmall_own
imagenet_subset.tar
imagenet_subset.tar.gz
imagenet_35_subset.tar.gz
/Converted_Models_*
Converted_Models*

*.pt
*.keras